@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Blog
@model List<BlogViewModel>

@foreach (var blog in Model)
{
    <li>
        <div class="post-item effect-01 style-bottom-info layout-02 ">
            <div class="thumbnail">
                <a asp-route="client-blog-single" asp-route-id = "@blog.Id" class="link-to-post"><img src="~/@blog.Image" width="370" height="270" alt=""></a>
                <div class="post-date">
                    <span class="date">@blog.PostedDate.ToString("dd")</span>
                    <span class="month">@blog.PostedDate.ToString("MMM")</span>
                </div>
            </div>
            <div class="post-content">
                <a asp-route ="client-blog-single" asp-route-id="@blog.Id" class="post-name">@blog.Title</a>
                <div class="post-meta">
                    @if (blog.Fromİmage is null)
                    {
                        <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="post-meta__item author"><img src="~/Client/assets/images/home-03/post-author.png" width="28" height="28" alt=""><span>@blog.From</span></a>
                    }
                    else
                    {
                        <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="post-meta__item author"><img src="~/@blog.Fromİmage" width="28" height="28" alt=""><span>@blog.From</span></a>

                    }
                    <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="post-meta__item btn liked-count">@blog.Comments<span class="biolife-icon icon-comment"></span></a>
                    <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="post-meta__item btn comment-count">@blog.Likes<span class="biolife-icon icon-like"></span></a>
                </div>
                <p class="excerpt">@blog.Description...</p>
                <div class="group-buttons">
                    <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="btn readmore">davamı...</a>
                </div>
            </div>
        </div>
    </li>
}
