@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Product
@model List<ProductSaleViewModel>


@foreach (var product in Model)
{
    <li class="product-item">
        <div class="contain-product layout-default">
            <div class="product-thumb">
                <a asp-route="client-product-detail" asp-route-id="@product.Id" class="link-to-product">
                    <img src="~/@product.MainImgUrl" width="270" height="270" class="product-thumnail">
                </a>
                <a class="lookup btn_call_quickview" asp-route="client-product-detail" asp-route-id =@product.Id><i class="biolife-icon icon-search"></i></a>
            </div>
            <div class="info">
                <a asp-route="client-product-detail" asp-route-id="@product.Id" class="categories">@product.Name</a>
                <h4 class="product-title"><a href="#" class="pr-name">@product.Info</a></h4>
                <div class="price ">
                    @foreach (var price in product.DiscountPrices)
                    {
                        @if (price.Percent != 0)
                        {
                            <ins><span class="price-amount">@Math.Round((product.Price * (100 - price.Percent)/100), 2)</span></ins>
                            <del><span class="price-amount">@product.Price</span></del>
                        }
                        else
                        {
                            <ins><span class="price-amount">@product.Price</span></ins>
                        }
                    }


                </div>
                <div class="slide-down-box">
                    <p class="message">Məhsullarımızın keyfiyyəti zəmanətimizdir.</p>
                    <div class="buttons">
                        <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                        <a asp-route="client-basket-add" asp-route-id="@product.Id" class="add-basket-btn btn">
                            <button>Səbətə at</button>
                        </a>
                        <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
}
