@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewComponents
@using Organic.Areas.Client.ViewModels.Product
@model List<ProductSaleViewModel>


<div class="banner-promotion-01 xs-margin-top-50px sm-margin-top-11px">
    <div class="biolife-banner promotion biolife-banner__promotion">
        <div class="banner-contain">
            <div class="media background-biolife-banner__promotion">

                @if (Model.Count > 2)
                {
                    @for (int i = 0; i < 1; i++)
                    {
                            <div class="img-moving position-4">
                                <a asp-route="client-basket-add" asp-route-id="@Model[i+1].Id" class="add-basket-kabab">
                                    <img src="~/Client/assets/images/downloaded-images/img-moving-pst-4.png" width="198" height="269" alt="img msv">
                                </a>
                            </div>

                            <div class="img-moving position-2">
                                <a asp-route="client-basket-add" asp-route-id="@Model[i+2].Id" class="add-basket-kabab">
                                    <img src="~/Client/assets/images/downloaded-images/img-moving-pst-2.png" width="185" height="265" alt="img msv">
                                </a>
                            </div>

                            <div class="img-moving position-3">
                                <a asp-route="client-basket-add" asp-route-id="@Model[i].Id" class="add-basket-kabab">
                                    <img src="~/Client/assets/images/downloaded-images/img-moving-pst-3-cut.png" width="384" height="151" alt="img msv">
                                </a>
                            </div>
                       
                    }
                }

            </div>
            

            <div class="text-content">
                <div class="container text-wrap">
                    <i class="first-line">Halal kəsilmiş</i>
                    <span class="second-line">Kabablar Sizin süfrənizdə</span>
                    <p class="third-line">Kabablar üçün kəsilən heyvanlar Bərdə şəhərinin Ginə kəndində dağ şəraitində yetişdirilmişdir...</p>
                    <div class="product-detail">
                        <div class="btn-group btn-group2">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kabablar
                            </button>
                            <div class="dropdown-menu dropdown-menu2">
                                @foreach (var item in Model)
                                {
                                    <a asp-route="client-basket-add" asp-route-id="@item.Id" class="dropdown-item add-basket-meze">@item.Name</a>
                                    <br />
                                }
                            </div>
                        </div>
                        @await Component.InvokeAsync(nameof(ComboMenuExtras))
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>



