@using Organic.Areas.Client.ViewModels.Product
@using Organic.Areas.Client.ViewComponents
@using Organic.Contracts.ProductImage
@model ProductDetailViewModel
<!--Navigation section-->
<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a asp-route="client-home-index" class="permal-link">Ana Səhifə</a></li>
            <li class="nav-item"><span class="current-page">Fresh Fruit</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain single-product">
    <div class="container">

        <!-- Main content -->
        <div id="main-content" class="main-content">


            <!-- summary info -->
            <div class="sumary-product single-layout">
                <div class="media">
                    <ul class="biolife-carousel slider-for" data-slick='{"arrows":false,"dots":false,"slidesMargin":30,"slidesToShow":1,"slidesToScroll":1,"fade":true,"asNavFor":".slider-nav"}'>
                        @foreach (var image in Model.ImageUrls)
                        {
                            <li><img src="~/@image.ImageUrl" alt="" width="500" height="500"></li>

                        }
                        @if (Model.ImageUrls.Count() == 0)
                        {
                            <li><img src="~/@Image.DEFAULTIMAGE" alt="" width="500" height="500"></li>
                        }

                    </ul>
                    <ul class="biolife-carousel slider-nav" data-slick='{"arrows":false,"dots":false,"centerMode":false,"focusOnSelect":true,"slidesMargin":10,"slidesToShow":4,"slidesToScroll":1,"asNavFor":".slider-for"}'>
                        @foreach (var image in Model.ImageUrls)
                        {
                            @if (Model.ImageUrls.Count() > 0)
                            {
                                <li><img src="~/@image.ImageUrl" alt="" width="88" height="88"></li>
                            }
                        }
                        
                    </ul>
                </div>
                <div class="product-attribute">
                    <h3 class="title">@Model.Name</h3>
                    <div class="rating">
                        <p class="star-rating-stars">
                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = Model.Id })'"><span class="rate-icon"></span></button>
                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = Model.Id , rate = 2 })'"><span class="rate-icon"></span></button>
                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = Model.Id , rate = 3 })'"><span class="rate-icon"></span></button>
                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = Model.Id , rate = 4 })'"><span class="rate-icon"></span></button>
                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = Model.Id , rate = 5 })'"><span class="rate-icon"></span></button>
                        </p>
                        <span class="review-count">(@Model.RatingCount baxış)</span>
                    </div>
                    <span class="sku">Sku: #76584HH</span>
                    <p class="excerpt">@Model.Info</p>
                    <div class="price">
                        @foreach (var price in Model.Discounts)
                        {
                            @if (price.Percent != 0)
                            {
                                <ins><span class="price-amount">@Math.Round((Model.Price * (100 - price.Percent)/100), 2)</span></ins>
                                <del><span class="price-amount">@Model.Price</span></del>
                            }
                            else
                            {
                                <ins><span class="price-amount">@Model.Price</span></ins>
                            }
                        }
                    </div>
                </div>


                <div class="action-form-2">
                    <div class="buttons text-right">
                        <a asp-route="client-basket-add" asp-route-id="@Model.Id" class="btn add-basket-btn btn-bold" id="basketbutton"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Səbətə at</a>
                    </div>
                </div>
            </div>







            <!-- related products -->
            <div class="product-related-box single-layout">
                <div class="biolife-title-box lg-margin-bottom-26px-im">
                    <span class="icon-at-top biolife-icon icon-organic"></span>
                    <span class="subtitle">Keyfiyyətli, organik, tam təmiz</span>
                    <h3 class="main-title">Digər Məhsullar</h3>
                </div>
                <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20 }},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10}}]}'>

                    @await Component.InvokeAsync(nameof(Product))

                </ul>
            </div>

        </div>
    </div>
</div>