@using Organic.Areas.Client.ViewComponents
@using Organic.Areas.Client.ViewModels.Product
@using Organic.Contracts.Product
@model List<ListItemViewModel>

<!--Navigation section-->
<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a asp-route="client-home-index" class="permal-link">Ana Səhifə</a></li>
            <li class="nav-item"><span class="current-page">Məhsullar</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain category-page no-sidebar">
    <div class="container disdis">
        <div class="product-category grid-style">
            <div id="top-functions-area" class="top-functions-area">
                <div class="flt-item to-left group-on-mobile">
                    <a href="#" class="icon-for-mobile">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="wrap-selectors">
                        <form action="#" name="frm-refine" method="get">

                            @await Component.InvokeAsync(nameof(ShopPageCategory))

                            <p class="btn-for-mobile"><button type="submit" class="btn-submit">Seç</button></p>
                        </form>
                    </div>
                </div>
                <div class="flt-item to-right">
                    <div class="btn-group btn-group3 ">
                        <button type="button" class="btn buton-danger2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Qiymətə görə çeşidlə <i class="fa-sharp fa-solid fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu categoriesdropdown">

                            <a asp-route="client-product-list" asp-route-startPrice="@Price.LOW" class="dropdown-item">
                                20₼-dək
                            </a>
                            <br />
                            <a asp-route="client-product-list" asp-route-startPrice="@Price.MEDIUM" class="dropdown-item">
                                20₼-dən 35₼-dək
                            </a>
                            <br />
                            <a asp-route="client-product-list" asp-route-startPrice="@Price.HİGH" class="dropdown-item">
                                35₼-dən baha
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="products-list">
                    @if (Model.Count() == 0)
                    {
                        <div class="container">
                            <span style="font-weight: bold">Axtardığınız məhsul tapılmadı.</span>
                        </div>                     
                    }
                    @foreach (var product in Model)
                    {
                        <li class="product-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="contain-product layout-default">
                                <div class="product-thumb">
                                    <a asp-route="client-product-detail" asp-route-id="@product.Id" class="link-to-product">
                                        <img src="~/@product.ImgUrl" alt="dd" width="270" height="270" class="product-thumnail">
                                    </a>
                                </div>
                                <div class="info">


                                    <h4 class="product-title"><a asp-route="client-product-detail" asp-route-id="@product.Id" class="pr-name">@product.Name</a></h4>
                                    <a asp-route="client-product-detail" asp-route-id="@product.Id">
                                        <b class="categories">@product.Info</b>
                                    </a>
                                    

                                    @foreach (var price in product.DiscountPercents)
                                    {
                                        <div class="price">
                                            @if (price.Percent != 0)
                                            {
                                                <ins><span class="price-amount">@Math.Round((product.Price * (100 - price.Percent)/100), 2)</span></ins>
                                                <del><span class="price-amount">@product.Price</span></del>
                                            }
                                            else
                                            {
                                                <ins><span class="price-amount">@product.Price</span></ins>
                                            }
                                        </div>
                                    }
                                    <div class="slide-down-box">
                                       
                                        <div class="buttons">
                                            <p class="message">Məhsullarımızın keyfiyyəti zəmanətimizdir.</p>
                                            <div class="buttons">
                                                <a asp-route="client-basket-add" asp-route-id="@product.Id" class="btn add-basket-btn btn-bold" id="basketbutton"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Səbətə at</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="biolife-panigations-block">
    <ul class="panigation-contain">
        @if (ViewBag.CurrentPage > 1)
        {
            <li><a asp-route="client-product-list" asp-route-page="@(ViewBag.CurrentPage-1)" class="link-page next"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>

        }

        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li>
                <a asp-route="client-product-list" asp-route-page="@i">
                    <span class=@(ViewBag.CurrentPage == i ? "current-page" : "link-page" )>@i</span>
                </a>

            </li>
        }


        @if (ViewBag.CurrentPage < ViewBag.TotalPage)
        {
            <li><a asp-route="client-product-list" asp-route-page="@(ViewBag.CurrentPage+1)" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

        }
    </ul>
</div>
