@using Organic.Areas.Client.ViewModels.Blog
@model BlogItemViewModel

<div class="hero-section hero-background style-02">
    <h1 class="page-title">Bloq</h1>
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a asp-route="client-home-index" class="permal-link">Ana Səhifə</a></li>
            <li class="nav-item"><span class="current-page">Bloq</span></li>
        </ul>
    </nav>
</div>

<!-- Page Contain -->
<div class="page-contain blog-page left-sidebar">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <div id="main-content" class="main-content col-lg-9 col-md-8 col-sm-12 col-xs-12">

                <!--Single Post Contain-->
                <div class="single-post-contain">

                    <div class="post-head">
                        <div class="thumbnail">
                            <figure><img src="~/@Model.Image" width="870" height="635" alt=""></figure>
                        </div>
                        <h2 class="post-name">@Model.Title</h2>
                        <p class="post-archive">
                            <b class="post-cat">ORGANIC: </b><span class="post-date">
                                @Model.PostedDate.ToString("dd,mm,yyyy")
                                <span class="author">Yerləşdirdi: @Model.From</span>
                                <span class="author"><i class="fa-regular fa-comment"></i> @Model.Comments.Count</span>
                                <span class="author"><i class="fa-regular fa-thumbs-up"></i> @Model.Likes.Count</span>
                                
                        </p>
                    </div>

                    <div class="post-content">
                        <p>@Model.Content</p>
                    </div>
                </div>

                <!--Comment Block-->
                <div class="post-comments">
                    <h3 class="cmt-title">Comments<sup>(@Model.Comments.Count)</sup></h3>

                    <div class="comment-form">
                                                <form action="#" method="post" name="frm-post-comment">
                        <p class="form-row">
                        <textarea name="txt-comment" id="txt-comment-ath-3364" cols="30" rows="10" placeholder="Write your comment"></textarea>
                        <a href="#" class="current-author"><img src="~/Client/assets/images/blogpost/viewer-avt.png" width="41" height="41" alt=""></a>
                        </p>
                        <p class="form-row last-btns">
                        <button type="submit" class="btn btn-sumit">post a comment</button>
                        <a href="#" class="btn btn-fn-1"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-fn-1"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-fn-1"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                        </p>
                        </form>


                       
@*
                        <form method="POST" asp-route="client-blog-single" asp-route-id = "@Model.Id"  enctype="multipart/form-data">

                               <div class="form-group">
                                <label>text</label>
                                <input asp-for="@item.Content" class="form-control">
                            </div>

                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>*@



                    </div>



                    <div class="comment-list">
                        <ol class="post-comments lever-0">
                            <li class="comment-elem">
                                <div class="wrap-post-comment">
                                    <div class="cmt-inner">
                                        @foreach (var item in Model.Comments)
                                        {
                                            <div class="auth-info">

                                                <a href="#" class="author-contact"><img src="assets/images/blogpost/author-02.png" alt="" width="29" height="28">@Model.From</a>
                                                <span class="cmt-time">4 days ago</span>
                                            </div>
                                            <div class="cmt-content">


                                                <p>
                                                    @item.Content
                                                </p>


                                            </div>

                                        }


                                    </div>
                                </div>
                            </li>
                        </ol>

                        <div class="biolife-panigations-block ">
                            <ul class="panigation-contain">
                                <li><span class="current-page">1</span></li>
                                <li><a href="#" class="link-page">2</a></li>
                                <li><a href="#" class="link-page">3</a></li>
                                <li><span class="sep">....</span></li>
                                <li><a href="#" class="link-page">20</a></li>
                                <li><a href="#" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Sidebar -->
            <aside id="sidebar" class="sidebar blog-sidebar col-lg-3 col-md-4 col-sm-12 col-xs-12">

                <div class="biolife-mobile-panels">
                    <span class="biolife-current-panel-title">Sidebar</span>
                    <a class="biolife-close-btn" href="#" data-object="open-mobile-filter">&times;</a>
                </div>

                <div class="sidebar-contain">

                    <!--Posts Widget-->
                    //bu hisseni viewcomponente cixaracam.//
                    @*      <div class="widget posts-widget">
                    <h4 class="wgt-title">Recent post</h4>
                    <div class="wgt-content">
                    <ul class="posts">
                    @foreach (var item in Model.Blogs)
                    {
                    <li>
                    <div class="wgt-post-item">
                    <div class="thumb">
                    <a asp-route="client-blog-single" asp-route-id="@item.Id"><img src="~/@item.Image" width="80" height="58" alt=""></a>
                    </div>
                    <div class="detail">
                    <h4 class="post-name"><a asp-route="client-blog-single" asp-route-id="@item.Id">@item.Title</a></h4>
                    <p class="post-archive">@item.PostedDate.ToString("dd,mm,yy")<span class="comment">@item.Comments.Count Şərh</span></p>
                    </div>
                    </div>
                    </li>
                    }


                    </ul>
                    </div>
                    </div>*@










                    <!--Comments Widget-->
                    <div class="widget comment-widget">
                        <h4 class="wgt-title">Recent Comments</h4>
                        <div class="wgt-content">
                            <ul class="comment-list">
                                <li>
                                    <p class="cmt-item"><a href="#" class="auth-name"><i class="biolife-icon icon-conversation"></i>Jessica Alba</a><a href="#" class="link-post">on Healthy Organics</a></p>
                                </li>
                                <li>
                                    <p class="cmt-item"><a href="#" class="auth-name"><i class="biolife-icon icon-conversation"></i>Jessica Alba</a><a href="#" class="link-post">on Best Organics</a></p>
                                </li>
                                <li>
                                    <p class="cmt-item"><a href="#" class="auth-name"><i class="biolife-icon icon-conversation"></i>Jessica Alba</a><a href="#" class="link-post">on Healthy Organics</a></p>
                                </li>
                                <li>
                                    <p class="cmt-item"><a href="#" class="auth-name"><i class="biolife-icon icon-conversation"></i>Jessica Alba</a><a href="#" class="link-post">on Healthy Organics</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
</div>