@using Organic.Areas.Client.ViewModels.Blog
@using Organic.Services.Abstracts
@using Organic.Areas.Client.ViewComponents
@inject IUserService _userService
@model BlogItemViewModel

<script src="https://cdn.tiny.cloud/1/vqv7mwh3rcamb2b666r81iwwlw6lmemw609fqi8ze5fjwz1r/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
    tinymce.init({ forced_root_block: "", selector: 'textarea', plugins: 'emoticons', toolbar: 'emoticons', width: 600 });
</script>

@*<div class="hero-section hero-background style-02">
    <h1 class="page-title">Bloq</h1>
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a asp-route="client-home-index" class="permal-link">Ana Səhifə</a></li>
            <li class="nav-item"><span class="current-page">Bloq</span></li>
        </ul>
    </nav>
</div>*@

<!-- Page Contain -->
<div class="page-contain blog-page left-sidebar">
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <div id="main-content" class="main-content col-lg-9 col-md-8 col-sm-12 col-xs-12">

                <!--Single Post Contain-->
                <div class="single-post-contain">

                    <div class="post-head">
                        <div class="thumbnail">
                            <figure><img src="~/@Model.Image" width="500" height="500" alt=""></figure>
                        </div>
                        <h2 class="post-name">@Model.Title</h2>
                        <p class="post-archive">
                            <b class="post-cat">Krtsgn.az : </b>
                            @Model.PostedDate.ToString("dd/MM/yyyy")
                            <span class="author">Yerləşdirdi: @Model.From</span>
                            <span class="author"><i class="fa-regular fa-comment"></i> @Model.Comments!.Count</span>
                            <span class="blog-like">
                                <a asp-route="blog-like" asp-route-Likeid="@Model.Id" class="blogelike">
                                    <i class="fa-regular fa-thumbs-up"></i>@Model.Likes
                                </a>

                            </span>

                        </p>
                    </div>

                    <div class="post-content">
                        <p>@Model.Content</p>
                    </div>
                </div>

                <!--Comment Block-->
                <div class="post-comments">
                    <div class="comment-form">
                        @if (_userService.IsAuthenticated)
                        {
                            @*                            <div class="buttons">
                        <a asp-route="client-basket-add" asp-route-id="@product.Id" class="btn add-basket-btn btn-bold" id="basketbutton"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>Səbətə at</a>
                        </div*@

                            <form asp-route="client-blog-single" asp-route-id="@Model.Id" method="post" name="frm-post-comment">
                                <textarea asp-for="CommentText" class="form-control"></textarea>
                                <button type="submit" class="btn btn-sumit">Daxil et</button>
                            </form>
                        }
                        else
                        {
                            <a class="CommentLogin" asp-route="client-auth-login"> Comment yazmaq ucun login olun.</a>
                        }

                    </div>

                    <div class="comment-list">
                        <ol class="post-comments lever-0">
                            <li class="comment-elem">
                                <div class="wrap-post-comment">
                                    <div class="cmt-inner">

                                        @foreach (var item in Model.Comments)
                                        {
                                            <div class="auth-info">
                                                <a href="#" class="author-contact"><img src="~/@item.Image" alt="" width="29" height="28">@item.From</a>
                                                <span class="cmt-time">@item.PostedDate</span>
                                            </div>
                                            <div class="cmt-content">
                                                <p>
                                                    @item.Content
                                                </p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ol>

                        <div class="biolife-panigations-block ">
                            <ul class="panigation-contain">
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li><a asp-route="client-blog-single" asp-route-page="@(ViewBag.CurrentPage-1)" class="link-page next"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>

                                }

                                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                {
                                    <li>
                                        <a asp-route="client-blog-single" asp-route-page="@i">
                                            <span class=@(ViewBag.CurrentPage == i ? "current-page" : "link-page" )>@i</span>
                                        </a>

                                    </li>
                                }


                                @if (ViewBag.CurrentPage < ViewBag.TotalPage)
                                {
                                    <li><a asp-route="client-blog-single" asp-route-page="@(ViewBag.CurrentPage+1)" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <aside id="sidebar" class="sidebar blog-sidebar col-lg-3 col-md-4 col-sm-12 col-xs-12">

                <div class="biolife-mobile-panels">
                    <span class="biolife-current-panel-title">Sidebar</span>
                    <a class="biolife-close-btn" href="#" data-object="open-mobile-filter">&times;</a>
                </div>

               @* <div class="sidebar-contain">
*@
                    <!--Posts Widget-->
@*                    <div class="widget posts-widget">
                        <h4 class="wgt-title">Recent post</h4>
                        <div class="wgt-content">
                            <ul class="posts">
                                @foreach (var item in Model.Comments)
                                {
                                    <li>
                                        <div class="wgt-post-item">
                                            <div class="detail">
                                                <h4 class="post-name"><a asp-route="client-blog-single" asp-route-id="@item.Id">@item.</a></h4>
                                                <p class="post-archive">@item.PostedDate.ToString("dd,mm,yy")<span class="comment">@item.Comments.Count Şərh</span></p>
                                            </div>
                                        </div>
                                    </li>
                                }


                            </ul>
                        </div>*@
                 @*   </div>


               @* </div>*@
            </aside>
        </div>
    </div>
</div>