@using Organic.Areas.Client.ViewModels.Blog
@model List<BlogViewModel>

<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a asp-route="client-home-index" class="permal-link">Ana Səhifə</a></li>
            <li class="nav-item"><span class="current-page">Bloqlar</span></li>
        </ul>
    </nav>
</div>
<!-- Page Contain -->
<div class="page-contain blog-page">
    <div class="container">
        <!-- Main content -->
        <div id="main-content" class="main-content">
            <div class="row">
                <ul class="posts-list main-post-list">
                    @foreach (var blog in Model)
                    {
                        <li class="post-elem col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="post-item effect-04 style-bottom-info">
                                <div class="thumbnail">
                                    <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="link-to-post"><img src="~/@blog.Image" width="370" height="270" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h4 class="post-name"><a asp-route="client-blog-single" asp-route-id = "@blog.Id" class="linktopost">@blog.Title</a></h4>
                                    <p class="post-archive"><b class="post-cat">Krtsgn.az / </b><span class="post-date">@blog.PostedDate.ToString("dd,MM,yyyy")</span><span class="author">Yerləşdirdi: @blog.From</span></p>
                                    <p class="excerpt"><a asp-route="client-blog-single" asp-route-id="@blog.Id">@blog.Description</a></p>
                                    <div class="group-buttons">
                                        <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="btn readmore">davamı...</a>
                                        <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="btn count-number liked"><i class="biolife-icon icon-heart-1"></i><span class="number">@blog.Likes</span></a>
                                        <a asp-route="client-blog-single" asp-route-id="@blog.Id" class="btn count-number commented"><i class="biolife-icon icon-conversation"></i><span class="number">@blog.Comments</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    
                </ul>
            </div>

            <!--Panigation Block-->
            <div class="biolife-panigations-block ">
                <ul class="panigation-contain">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li><a asp-route="client-blog-list" asp-route-page="@(ViewBag.CurrentPage-1)" class="link-page next"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>

                    }

                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li>
                            <a asp-route="client-blog-list" asp-route-page="@i">
                                <span class=@(ViewBag.CurrentPage == i ? "current-page" : "link-page" )>@i</span>
                            </a>

                        </li>
                    }


                    @if (ViewBag.CurrentPage < ViewBag.TotalPage)
                    {
                        <li><a asp-route="client-blog-list" asp-route-page="@(ViewBag.CurrentPage+1)" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                    }
                </ul>
            </div>

        </div>
    </div>
</div>