@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Product
@using Organic.Contracts.ProductCategory
@model List<ProductSaleViewModel>

<div class="col-lg-4 col-md-5 col-sm-6">
    <div class="advance-product-box">
        <div class="biolife-title-box bold-style biolife-title-box__bold-style">
            <h3 class="title">Tələsin! Endirim bitir ...</h3>
        </div>
        <ul class="products biolife-carousel nav-top-right nav-none-on-mobile" data-slick='{"arrows":true, "dots":false, "infinite":false, "speed":400, "slidesMargin":30, "slidesToShow":1}'>
            @foreach (var ratingProduct in Model)
            {
                @if (ratingProduct.CategoryName != SelectedCategoryName.Kabab)
                {
                    @foreach (var price in ratingProduct.DiscountPrices)
                    {
                        @if (price.Percent > 0)
                        {
                            <li class="product-item">
                                <div class="contain-product deal-layout contain-product__deal-layout">

                                    <div class="product-thumb">
                                        <a asp-route="client-product-detail" asp-route-id="@ratingProduct.Id" class="link-to-product">
                                            <img src="~/@ratingProduct.MainImgUrl" alt="dd" width="330" height="330" class="product-thumnail">
                                        </a>
                                        <div class="labels">
                                            <span class="sale-label">-@price.Percent%</span>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="biolife-countdown" data-datetime="2023/03/28 00:00:00"></div>
                                        <b class="categories">@ratingProduct.Name</b>
                                        <h4 class="product-title"><a href="#" class="pr-name">@ratingProduct.Info</a></h4>
                                        <div class="price ">
                                            @if (price.Percent != 0)
                                            {
                                                <ins><span class="price-amount">@Math.Round((ratingProduct.Price * (100 - price.Percent)/100), 2)</span></ins>
                                                <del><span class="price-amount">@ratingProduct.Price</span></del>
                                            }
                                        </div>
                                        <div class="slide-down-box">
                                            <p class="message">Məhsullarımızın keyfiyyəti zəmanətimizdir.</p>
                                            <div class="buttons">
                                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                                <a asp-route="client-basket-add" asp-route-id="@ratingProduct.Id" class="add-basket-btn btn btn-bold" id="basketbutton">
                                                    Səbətə at
                                                </a>
                                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                }
            }
        </ul>
    </div>
</div>
<div class="col-lg-8 col-md-7 col-sm-6">
    <div class="advance-product-box">
        <div class="biolife-title-box bold-style biolife-title-box__bold-style">
            <h3 class="title">Endirimdə olan məhsullar</h3>
        </div>
        <ul class="products biolife-carousel eq-height-contain nav-center-03 nav-none-on-mobile row-space-29px" data-slick='{"rows":2,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":2,"responsive":[{"breakpoint":1200,"settings":{ "rows":2, "slidesToShow": 2}},{"breakpoint":992, "settings":{ "rows":2, "slidesToShow": 1}},{"breakpoint":768, "settings":{ "rows":2, "slidesToShow": 2}},{"breakpoint":500, "settings":{ "rows":2, "slidesToShow": 1}}]}'>
            @foreach (var ratingProduct in Model)
            {
                @foreach (var price in ratingProduct.DiscountPrices)
                {
                    @if (ratingProduct.CategoryName != SelectedCategoryName.Kabab && price.Percent>0)
                    {
                        <li class="product-item">
                            <div class="contain-product right-info-layout contain-product__right-info-layout">
                                <div class="product-thumb">
                                    <a asp-route="client-product-detail" asp-route-id="@ratingProduct.Id" class="link-to-product">
                                        <img src="~/@ratingProduct.MainImgUrl" alt="dd" width="270" height="270" class="product-thumnail">
                                    </a>
                                </div>
                                <div class="info">
                                    <b class="categories">@ratingProduct.Name</b>
                                    <h4 class="product-title"><a href="#" class="pr-name">@ratingProduct.Info</a></h4>
                                    <div class="price ">

                                        @if (price.Percent != 0)
                                        {
                                            <ins><span class="price-amount">@Math.Round((ratingProduct.Price * (100 - price.Percent)/100), 2)</span></ins>
                                            <del><span class="price-amount">@ratingProduct.Price</span></del>
                                        }
                                        else
                                        {
                                            <ins><span class="price-amount">@ratingProduct.Price</span></ins>
                                        }

                                    </div>
                                    <div>
                                        <p class="star-rating-stars">
                                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = ratingProduct.Id })'"><span class="rate-icon"></span></button>
                                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = ratingProduct.Id , rate = 2 })'"><span class="rate-icon"></span></button>
                                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = ratingProduct.Id , rate = 3 })'"><span class="rate-icon"></span></button>
                                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = ratingProduct.Id , rate = 4 })'"><span class="rate-icon"></span></button>
                                            <button class="rate-button" onclick="location.href='@Url.Action("Rate", "AllProduct", new { id = ratingProduct.Id , rate = 5 })'"><span class="rate-icon"></span></button>
                                        </p>
                                        <span class="review-count">(@ratingProduct.RatingCount baxış)</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            }
        </ul>
        <div class="biolife-banner style-01 biolife-banner__style-01 xs-margin-top-80px-im sm-margin-top-30px-im">
            <div class="banner-contain">
                <a asp-route="client-product-detail" asp-route-id = "33" class="bn-link">
                    <div class="text-content">
                        <span class="first-line">Gündəlik</span>
                        <b class="second-line">TƏBİİ</b>
                        <i class="third-line">QAX BALI</i>
                        <span class="fourth-line">Yüksək keyfiyyətli</span>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>


