@using Organic.Areas.Client.ViewModels.Basket;
@model List<ProductCookieViewModel>
@using Organic.Services.Abstracts
@inject IUserService userService;

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 cardpagetable1">
    <form class="shopping-cart-form" action="#" method="post">
        <table class="shop_table cart-form">
            <thead>
                <tr>
                    <th class="product-name">Məhsulun adı</th>
                    <th class="product-price">Qiymət</th>
                    <th class="product-quantity">Say</th>
                    <th class="product-subtotal">Cəm</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr class="cart_item">
                        <td class="product-thumbnail" data-title="Məhsulun adı">
                            <a class="prd-thumb" href="#">
                                <figure><img width="113" height="113" src="~/@product.ImageUrl" alt="shipping cart"></figure>
                            </a>
                            <a class="prd-name" href="#">@product.Title</a>
                            <div class="action">
                                <a asp-route="client-shop-basket-delete" asp-route-productId="@product.Id">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                        <td class="product-price" data-title="Qiymət">
                            <div class="price price-contain">
                                <ins>
                                    <span class="price-amount">
                                        @if (product.DiscountPrice ==0)
                                        {
                                                @Math.Round(product.Price, 2)                                            
                                        }
                                        else
                                        {
                                                @Math.Round(product.DiscountPrice, 2)                                           
                                        }
                                        ₼
                                    </span>
                                </ins>
                            </div>
                        </td>
                        <td class="product-quantity" data-title="Say">
                            <div class="quantity-box type1">
                                <div class="qty-input">

                                    <a asp-route="client-individual-basket-delete" asp-route-id="@product.Id"
                                   data-id="@product.Id" class="btn btn-dark minus-btn">
                                        -
                                    </a>
                                    <a asp-route="client-cardpagebasket-update"></a>

                                    <span class="btn btn-dark">@product.Quantity</span>

                                    <a asp-route="client-cardpagebasket-add" asp-route-id="@product.Id"
                                   data-id="@product.Id" class="btn btn-dark plus-btn">
                                        +
                                    </a>
                                    <a asp-route="client-cardpagebasket-update"></a>


                                </div>
                            </div>
                        </td>
                        <td class="product-subtotal" data-title="Cəm">
                            <div class="price price-contain">
                                <ins>
                                    @if (userService.IsAuthenticated)
                                    {
                                        <span class="price-amount">
                                            @Math.Round(product.Total, 2) ₼
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="price-amount">
                                            @Math.Round((product.DiscountPrice * product.Quantity), 2) ₼
                                        </span>
                                    }

                                </ins>
                            </div>
                        </td>
                    </tr>
                }

                <tr class="cart_item wrap-buttons2">
                    <td class="wrap-btn-control2" colspan="4">
                        @if (userService.IsAuthenticated)
                        {
                            <span class="sub-toal">
                                Ödəyəcəyiniz məbləğ:
                                @Math.Round(Model!.Sum(pcvm =>
                            pcvm.Total), 2) ₼
                            </span>
                        }
                        else
                        {
                            <span class="sub-toal">
                                Ödəyəcəyiniz məbləğ: 
                                @Math.Round(Model!.Sum(pcvm =>
                            pcvm.DiscountPrice * pcvm.Quantity), 2) ₼
                            </span>

                        }

                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="shpcart-subtotal-block">
        <div class="btn-checkout">
            <a asp-route="client-order-checkout" class="btn checkout">Check out</a>
        </div>
    </div>
</div>
</div>