@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Admin.ViewModels.Slider
@model List<ListViewModel>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Commands</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ProductName</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Datetime</th>
                            <th>Image</th>
                            <th scope="col">Add tag</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var slider in Model)
                        {
                            <tr>
                                <td>@slider.ProductName</td>
                                <td>@slider.Title</td>
                                <td>@slider.Description</td>
                                <td>@slider.CreatedAt.ToString("dd/MM/yyyy")</td>
                                <td>@slider.Image</td>

                                <td>
                                    <a asp-route="admin-slider-add">add</a>
                                </td>
                                <td>
                                    <a class="text-warning" asp-route="admin-slider-update" asp-route-id="@slider.Id">edit</a>
                                </td>
                                <td>
                                    <form method="POST" asp-route="admin-slider-delete" asp-route-id="@slider.Id" id="update-@slider.Id">
                                    </form>
                                    <button class="btn btn-danger" type="submit" form="update-@slider.Id">delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>