@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Basket
@model List<ProductCookieViewModel>


<div class="minicart-contain">
    <a href="javascript:void(0)" class="link-to">
        <span class="icon-qty-combine">
            <i class="icon-cart-mini biolife-icon"></i>
            @foreach (var item in Model)
            {
                <span class="qty">@Model.Count</span>
            }

        </span>
        <span class="title">Mənim Səbətim:</span>
        <span class="sub-total">
            @Math.Round(Model!.Sum(pcvm => 
                pcvm.DiscountPrice * pcvm.Quantity), 2) Azn
        </span>
    </a>
    <div class="cart-content">
        <div class="cart-inner">
            <ul class="products">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="minicart-item">
                            <div class="thumb">
                                <a href="#"><img src="~/@item.ImageUrl" width="90" height="90" alt="National Fresh"></a>
                            </div>
                            <div class="left-info">
                                <div class="product-title"><a href="#" class="product-name">@item.Title</a></div>
                                <div class="price">
                                    <span class="price-amount"><span class="currencySymbol">£</span>@item.DiscountPrice x @item.Quantity</span>
                                </div>
                            </div>
                            <div class="action">
                                <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a asp-route="client-basket-delete" asp-route-Id="@item.Id" class="remove remove-basket-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </li>
                }

            </ul>
            <p class="btn-control">
                <a href="#" class="btn view-cart">view cart</a>
                <a href="#" class="btn">checkout</a>
            </p>
        </div>
    </div>
</div>